.chat-side
  .chat-side__header
    .chat-side__header__box
      %h1.username masa
      %ul.iconlist
        %li.icon
          %a{ href: '#' }
            %i.fas.fa-edit
        %li.icon
          %a{ href: '#'}
            %i.fas.fa-cog
  .chat-side__group
    .cah-side__group__box
      .chat-side__group__box__name techcamp
      .chat-side__group__box__message まだメッセージがありません
      
