* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  .chat-main {
    background-color: #ffffff;
    height: 100vh;
    width: calc(100vw - 300px);
    &__header {
      background-color: #ffffff;
      height: 100px;
      width: calc(100vw - 300px);
      border-bottom: 1px solid #eeeeee;
      padding: 0px 40px;
      display: flex;
      justify-content: space-between;
      &__box {
        &__name {
          color: #333333;
          margin-top: 35px;
        }
        ul.memederlist  {
          color: #999999;
          font-size: 12px;
          margin-top: 15px;
          display: flex;
          li.memeder {
            color: #999999;
          }
        }
      }
      &__edti {
        display: block;
        line-height: 40px;
        font-size: 16px;
        margin-top: 28px;
        height: 40px;
        width: 72px;
        padding: 0 20px;
        border: 1px solid #38aef0;
        color: #38aef0;
        a {
          color: #38aef0;
          text-decoration: none;
        }
      }
    }
    &__message {
      background-color: #fafafa;
      height: calc(100vh - 190px);
      width: calc(100vw - 300px);
      padding: 35px 40px;
      overflow: scroll;
      &__group {
        margin-bottom: 46px;
        &__list {
          display: flex;
          margin-bottom: 12px;
          &__name {
            color:#333333;
            font-size: 16px;
          }
          &__date {
            color: #999999;
            font-size: 12px;
            padding-left: 10px;
          }
        }
        &__text-box {
          margin-bottom: 46px;
          p.text {
            color:#434A54;
            font-size: 14px;
          }
          .Message__image{
            height: 300px;
          }
        }
      }
    }
    &__form {
      background-color: #d2d2d2;
      height: 90px;
      width: calc(100vw - 300px);
      padding: 20px 40px;
      display: flex;
      justify-content: space-between;
      .Form {
        display: flex;
        width: 100%;
        .chat-main__form__box {
          height: 50px;
          width: 100%;
          background-color: #fff;
          position: relative;
          .Form__inputContent{
            border: none;
            height: 50px;
            width: 100%;
            padding: 0 45px 0 15px;
          }
          .Form__inputImage {
            height: 50px;
            position: absolute;
            right: 10px;
            .Form__icon {
              line-height: 50px;
              font-size: 25px;
            }
            .Hidden {
              display: none;
            }
          }
        }
        &__submit {
          background-color: #38aef0;
          color: #fff;
          font-size: 16px;
          padding: 0 30px;
          height: 50px;
          margin-left: 15px;
          border: none;
        }
      }
    }
  }
  
  .chat-side {
    background-color: #253141;
    height: 100vh;
    width: 300px;
    &__header {
      background-color: #253141;
      height: 100px;
      width: 300px;
      display: flex;
      align-items: center;
      padding: 0px 20px;
      &__box {
        height: 20px;
        width: 260px;
        display: flex;
        justify-content: space-between;
        h1.username {
          color: #ffffff;
          font-size: 16px;
          font-weight: bold;
        }
        ul.iconlist {
          width: 60px;
          display: flex;
          justify-content: flex-end;
          li.icon {
            margin-right: 5px;
            i {
              color: #ffffff;
            }
          }
        }
      }
    }
    &__group {
      background-color: #2f3e51;
      height: calc(100vh - 100px);
      width: 300px;
      padding: 0px 20px;
      overflow: scroll;
      &__box {
        padding: 20px 0px 40px;
        &__name {
          font-size: 15px;
          color: #ffffff;
          margin-bottom: 5px;
        }
        &__message {
          font-size: 11px;
          color: #ffffff;
        }
      }
    }
  }
}


